/*.log
/.history/
/.idea/
/.mypy_cache/
/Pipfile.lock
/cloud.zip
/data/*_postgres*.zip
/data/USGS/
/data/correction_test/
/data/download/
/data/download_test/
/data/pandas_profiles/*_explorative.html
/data/pandas_profiles/io_processed_files_*.html
/data/postgres/
/data/postgres_keycloak/
/data/postgres_test/
/resources/Gammadyne/timer.txt
/tmp/
/upload/*.pdf
coverage.xml
