/*.log
/.history/
/.idea/
/.mypy_cache/
/.pytest_cache/
/Pipfile.lock
/cloud.zip
/data/*_postgres*.zip
/data/correction_test/
/data/download/
/data/download_test/
/data/pandas_profiles/*_explorative.html
/data/pandas_profiles/io_processed_files_*.html
/data/postgres/
/data/postgres_keycloak/
/data/postgres_test/
/resources/Gammadyne/timer.txt
/src/ioavstats/stats.py
/tmp/
/upload/IO-AVSTATS-DB.pdf
/upload/IO-AVSTATS-DB.zip
coverage.xml
