/*.log
/.coverage
/.history/
/.idea/
/Pipfile.lock
/cloud.zip
/data/*_postgres_*.zip
/data/download/
/data/latest_postgres.zip
/data/pandas_profiles/io_processed_files_explorative.html
/data/pandas_profiles/io_processed_files_minimal.html
/data/postgres/
