[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dynaconf = "*"
haversine = "*"
lat_lon_parser ="*"
mlxtend = "*"
openpyxl = "*"
pandas = "*"
plotly = "*"
#plotly = "==5.11.0"
psycopg2-binary = "*"
pyeclat = "*"
pyodbc = "*"
requests = "*"
#sqlalchemy = "*"
sqlalchemy = "<2.0.0"
streamlit = "*"
#streamlit = "<=1.22.0"
streamlit-keycloak ="*"
streamlit-pandas-profiling = "*"
toml = "*"
ydata-profiling = "*"

[dev-packages]
bandit = "*"
black = "*"
docformatter = "*"
flake8 = "*"
isort = "*"
mkdocs = "*"
mkdocs-autorefs = "*"
mkdocs-awesome-pages-plugin = "*"
mkdocs-material = "*"
mkdocs-material-extensions = "*"
mkdocstrings = "*"
mkdocstrings-python = "*"
mypy = "*"
ordered-set= "*"
pandas-stubs = "*"
pydocstyle = "*"
pylint = "*"
sqlalchemy-stubs = "*"
sqlalchemy2-stubs = "*"
types-psycopg2 = "*"

[requires]
python_version = "3.10"
